body{
    font-family: 'Segoe UI', Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #e0e0e0;
    text-align: center;
}

.main{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:30px;
}

.left, .right{
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    color: #ffffff;
    padding:20px;
    width:300px;
    border-radius:12px;
    box-shadow: 0 0 15px rgba(0,255,255,0.2);
}

input{
    width:90%;
    padding:8px;
    margin-bottom:12px;
    border:none;
    border-radius:6px;
    outline:none;
    background:#0b1a4a;
    color:#fff;
}

input::placeholder{
    color:#aaa;
}

button{
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #ff00cc;
}

.console{
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    width:650px;
    margin:30px auto;
    padding:15px;
    border-radius:12px;
    box-shadow: 0 0 15px rgba(0,255,255,0.2);
}

#log{
    background:#020d2e;
    color:#00ffcc;
    padding:12px;
    height:120px;
    overflow:auto;
    font-size:13px;
    border-radius:6px;
}